<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Web JHT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>    
    <script src="app.js"></script>
    <script src="controllers/authController.js"></script>
    <script src="services/authService.js"></script>
</head>
<body >
    <div ng-app="authApp">
        <div ng-controller="authController">
     <div class="container">
         <h2>Login</h2>
         <form ng-submit="login()">
                <div>
                  <input type="text" ng-model="user.username" placeholder="Username">
                  <input type="password" ng-model="user.password" placeholder="Password">
             </div>
              <button type="submit">Login</button>
         </form>
          <p ng-if="error">{{error}}</p>
        </div>
    </div>
    </div>
</body>
</html>